/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:400,700'); */

@font-face {
 font-family: 'RobotoSlab';
 font-style: normal;
 font-weight: 400;
 src: url('/roboto-slab/RobotoSlab-Regular.ttf')  format('woff2');
 font-display: swap;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

